# === Android specific ===
*.iml
.gradle/
local.properties
secret.properties
.idea/
!.idea/codeStyles/
.DS_Store

# Build
/build/
app/build/
.externalNativeBuild/
.cxx/
captures/

# Kotlin
*.kotlin_module

# Signing
*.jks
*.keystore
*.key

# OS-specific
Thumbs.db
ehthumbs.db
Desktop.ini

# Others
*.log
